@using TeachMe.Extensions
@using TeachMe.Models.Jobs
@model TeachMe.Areas.Teacher.Models.Jobs.JobDetailsForAnonymousViewModel

@{
    ViewBag.Title = "Задача: " + Html.Encode(Model.Job.Title);
}

<h2>Задача: @Model.Job.Title</h2>

<div>
    @Html.ActionLink(JobActionType.Take.GetHumanAnnotation(), "Details", new { id = Model.Job.Id }, new { @class = "btn btn-primary" })
</div>

<div>
    <hr/>
    @Html.Partial("_JobInfo", Model.Job)
</div>
