@model TeachMe.ViewModels.Payouts.PayoutPerformViewModel

@{
    ViewBag.Title = "Выполнение платежа";
}

<h2>Выполнение платежа</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Выполнить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "IndexAll")
        </div>
    }
</div>
