    
<h1>Учи и зарабатывай!</h1>
<p class="lead">
    Наш сервис предоставляет самый удобный способ получения дополнительного дохода от профессиональной деятельности учителя.
</p>
<p class="lead">
    Непрерывно публикуются задачи различных тематик. За решение каждой из них выплачивается денежное вознаграждение.
</p>
<p>@Html.ActionLink("Подробнее", "About")</p>

