<h2>Отзывы</h2>

<div>
    <h3>Анна Александровна</h3>
    <p>Я в восторге от появившейся возможности подзаработать.</p>
</div>
<div>
    <h3>Мария Владимировна</h3>
    <p>По-моему это первый интернет-ресурс, где можно реально зарабатывать, а не впустую тратить время.</p>
</div>
<div>
    <h3>Ирина Николаевна</h3>
    <p>Теперь у меня появилась достойная ежемесячная прибавка к зарплате.</p>
</div>