@model TeachMe.Areas.Teacher.Models.Home.IndexViewModel

@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    @{
        Html.RenderPartial("_IndexJumbotron");
    }
</div>

<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-4">
            @{
                Html.RenderPartial("_IndexUserJobs", Model.UserInfo.Jobs);
            }
        </div>
        <div class="col-md-4">
            @{
                Html.RenderPartial("_IndexSuitableUserJobs", Model.UserInfo.SuitableJobs);
            }
        </div>
        <div class="col-md-4">
            @{
                Html.RenderPartial("_IndexUserProfile", Model.UserInfo.Profile);
            }
        </div>
    }
    else
    {
        <div class="col-md-4">
            @{
                Html.RenderPartial("_IndexRecall", Model.Recalls);
            }
        </div>
        <div class="col-md-4">
            @{
                Html.RenderPartial("_IndexJobs", Model.Jobs);
            }
        </div>
        <div class="col-md-4">
            @{
                Html.RenderPartial("_Login", Model.LoginViewModel);
            }
        </div>
    }
</div>