@using TeachMe.Models.Jobs
@model Job

@{
    var userCashDeficit = Model.StudentCost - ViewBag.ApplicationUser.Cash.AvailableAmount;
}

@if (Model.Status == JobStatus.Draft && userCashDeficit > 0)
{
    <div class="alert alert-warning">
        Задача в статусе <span style="font-weight: bold;">@Model.Status</span> и недоступна для выполнения. <br />
        Пополните баланс на @userCashDeficit руб. и сможете опубликовать задачу.
    </div>
}