@using TeachMe.Extensions
@using TeachMe.Models.Jobs
@using TeachMe.Services.Jobs
@model Job

@if (Model.Status == JobStatus.Draft)
{
    if (!JobOpeningSpecification.Instance.IsSatisfiedBy(Model))
    {
        <div class="alert alert-warning">
            Задача в статусе <span style="font-weight: bold;">@Model.Status.GetHumanAnnotation()</span> и недоступна для выполнения. <br />
            @Html.ActionLink("Пополните баланс", "Index", "Manage", new {area = ""}, null) на @(Model.StudentCost - ViewBag.ApplicationUser.Cash.AvailableAmount) руб. и сможете опубликовать задачу.
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            Задача в статусе <span style="font-weight: bold;">@Model.Status.GetHumanAnnotation()</span> и недоступна для выполнения. <br />
            Опубликуйте ее и она станет доступна исполнителям.
        </div>
    }
}