@{
    ViewBag.Title = "Заказать реферат онлайн срочно";
    ViewBag.MetaDescription = "Мы пишем рефераты на заказ срочно и совсем недорого. Работаем по всей России онлайн.";
    ViewBag.MetaKeywords = "реферат, заказать, купить, на заказ, недорого, онлайн, срочно, цена";
}
<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-sm-2 hidden-xs">
        <img src="~/Content/Images/referat.jpg?width=150" style="max-width: 100%;"/>
    </div>
    <div class="col-sm-10">
        <p>
            Одной из услуг нашего сервиса является написание <strong>рефератов на заказ</strong>. При этом заявка и поиск исполнителя занимает считанные минуты. От вас требуется <span class="text-primary text-bold">всего пара действий</span>:
        </p>
        <ul>
            <li>Указать тему реферата и стоимость работ</li>
            <li>Через несколько часов проверить выполненную работу</li>
        </ul>

        <p>Почему следует заказать реферат именно у нас?</p>
    </div>
</div>

<h3>1. Высокое качество</h3>
<p>Все выполненные работы исключительно высокого качества (на доработку отправляется менее <span class="text-danger">5%</span>). Более <span class="text-success text-bold">30-ти</span> исполнителей по различным направлениям готовы прийти вам на помощь.</p>

<h3>2. Срочно</h3>
<p>В среднем написание одного качественного реферата занимает до одного дня. Но стоит при заказе поставить отметку <span class="text-primary text-bold">"Срочно"</span> - и срок выполнения работы может сократиться до 2-4 часов.</p>

<h3>3. Недорого</h3>
<p>Низкая стоимость работ обусловлена двумя факторами. Во-первых, среди исполнителей существует <i>естественная конкуренция</i>, зачастую приводящая к демпингу цен. Во-вторых, <i>вы сами определяете стоимость</i> готового реферата еще в момент регистрации заказа.</p>

<h3>4. Репутация</h3>
<p>Наш сервис обладает <span class="text-success text-bold">безупречной репутацией</span>. Каждый второй заказчик возвращается к нам вновь и вновь.</p>

<p class="text-bold">Итак, для начала @Html.ActionLink("зарегистрируйтесь", "Register", "Account", new { area = "" }, null) - это быстро!</p>