@model TeachMe.Areas.Student.Models.Shared.GiftViewModel

@{
    ViewBag.Title = "Купить или заказать решение задач по математике, физике, химии, экономике";
    ViewBag.MetaDescription = "У нас вы можете купить решение задач по различным предметам. Решаем на заказ качественно, быстро и совсем недорого.";
    ViewBag.MetaKeywords = "решение задач, купить, заказать, на заказ, математика, физика, химия, экономика, высшая математика";
}
<h1>Купить, заказать решение задач</h1>
<div class="row">
    <div class="col-sm-2 hidden-xs">
        <img src="~/Content/Images/resheniezadach.jpg?width=200" style="max-width: 100%;"/>
    </div>
    <div class="col-sm-10">
        <p>На нашем сайте вы можете купить решение задач по различным предметам школы и университета.</p>
        <p>Чтобы получить готовое домашнее задание или контрольную работу, достаточно сделать <i>всего три действия</i>:</p>
        <ul>
            <li><u>Сфотографировать</u> задачу камерой телефона</li>
            <li><u>Опубликовать</u> ее на сайте</li>
            <li>Через пару часов <u>забрать решение</u></li>
        </ul>
        <p>Перечислим основные преимущества нашего сервиса.</p>
    </div>
</div>

<h3>1. Низкая стоимость</h3>
<p>Мы понимаем, что школьники и студенты очень ограничены финансово. Поэтому, именно <span class="text-success text-bold">вы указываете стоимость работ</span> в момент публикации задания.</p>

<h3>2. Скорость</h3>
<p>На сайте зарегистрировано <span class="text-success text-bold">более 500 преподавателей и учителей</span>, занимающихся решением задач на заказ. Среди них есть конкуренция, которая мотивирует к быстрому и качественному выполнению работы.</p>

<h3>3. Удобство</h3>
<p>По каждому заданию есть чат, в котором можно легко и удобно обмениваться сообщениями и файлами с преподавателем. Как только решение будет готово - вы получите <span class="text-success text-bold">бесплатное СМС-уведомление</span>.</p>

<h3>4. Гарантии</h3>
<p>Преподаватель получает оплату только после того, как вы <span class="text-success text-bold">проверите и подтвердите</span> предложенное решение. Если в ответе имеются неточности - вы просто одним нажатием на кнопку отправляете задачу на доработку.</p>

<h3>5. Все, что угодно</h3>
<p>Заказать решение задач по математике? Без проблем! А может по физике или химии? Не вопрос! А еще по экономике, электротехнике, алгебре, геометрии, русскому и иностранному языку и т.д.</p>

<p class="text-bold">Итак, для начала @Html.ActionLink("зарегистрируйтесь", "Register", "Account", new { area = "" }, null) - это быстро!</p>

@{
    Html.RenderPartial("_Gift", Model);
}