@using TeachMe.ProjectsSupport
<h2>Отзывы</h2>
@if (ViewBag.ProjectType == ProjectType.Teacher)
{
    <div>
        <h3>Анна Александровна</h3>
        <p>Я в восторге от появившейся возможности подзаработать.</p>
    </div>
    <div>
        <h3>Мария Владимировна</h3>
        <p>По-моему это первый интернет-ресурс, где можно реально зарабатывать, а не впустую тратить время.</p>
    </div>
    <div>
        <h3>Ирина Николаевна</h3>
        <p>Теперь у меня появилась достойная ежемесячная прибавка к зарплате.</p>
    </div>
}
else
{
    <div>
        <h3>Mikle</h3>
        <p>Теперь можно не тратить время на скучную физику, она все равно мне не пригодится.</p>
    </div>    
    <div>
        <h3>Лера</h3>
        <p>Благодаря этому сайту я всегда могу перепроверить правильность решенных мной задач.</p>
    </div>    
    <div>
        <h3>Танюшка</h3>
        <p>Это самый удобный онлайн-решебник из всех, которые я когда-либо встречала.</p>
    </div>
}
