@using TeachMe.ProjectsSupport

@if (@ViewBag.ProjectType == ProjectType.Teacher)
{
    <h1>Отличная подработка для учителя!</h1>
    <p class="lead">
        Мы предлагаем отличную возможность получения дополнительного заработка для учителей любого уровня и местоположения.
        Мы предлагаем отличную возможность получения дополнительного заработка для учителей любого уровня и местоположения.
    </p>
    <p>@Html.ActionLink("Подробнее", "About")</p>
}
else
{
    <h1>Больше свободного времени на поистине важные дела!</h1>
    <p class="lead">
        Мы предлагаем отличную возможность освободиться от рутинной учебной работы.
        Мы предлагаем отличную возможность освободиться от рутинной учебной работы.
    </p>
    <p>@Html.ActionLink("Подробнее", "About")</p>
}
