<h1>Больше свободного времени!</h1>
<p class="lead">
    Мы тратим очень много личного времени на дела, которые не считаем важными и полезными.
    При этом от недостатка внимания страдают друзья и личная жизнь.
</p>
<p class="lead">
    Наш сервис предлагает отличную возможность освободиться от рутинной учебной работы в пользу действительно важных дел.
    Просто выложи на сайте фото задачи - и через пару часов забери готовое решение!
</p>
<p class="lead">@Html.ActionLink("Подробнее", "About")</p>