<h2>Последние задачи</h2>
<div>
    <div class="label label-primary">Математика</div>
    <div class="label label-danger">100 руб.</div>
    <div class="label label-warning">В работе</div>
</div>
<div>
    <div class="label label-primary">Физика</div>
    <div class="label label-danger">130 руб.</div>
    <div class="label label-warning">В работе</div>
</div>
<div>
    <div class="label label-primary">Русский язык</div>
    <div class="label label-danger">200 руб.</div>
    <div class="label label-success">Готово</div>
</div>
<div>
    <div class="label label-primary">Математика</div>
    <div class="label label-danger">250 руб.</div>
    <div class="label label-success">Готово</div>
</div>
