<h1>Поможем с учебой!</h1>
<p class="lead">
    Возникли трудности с выполнением домашнего задания? Не знаешь с чего начать реферат? Не можешь подступиться к курсовой работе или диплому?
</p>
<p class="lead">
    Есть отличная новость! @Html.ActionLink("Заказать реферат", "Referat", "Article") или курсовую работу теперь проще простого: в один клик публикуешь задание и в течение нескольких часов получаешь качественное решение.
</p>
<p class="lead">
    Также можно недорого @Html.ActionLink("купить решение задач", "ReshenieZadach", "Article") по математике, физике, химии и другим предметам. Все работы выполняются онлайн в максимально сжатые сроки преподавателями высокого уровня.
</p>
<p class="lead">@Html.ActionLink("Подробнее", "About")</p>