<h1>Поможем с учебой!</h1>
<p class="lead">
    Возникли трудности с выполнением домашнего задания? Не знаешь с чего начать написание реферата? Не можешь подступиться к курсовой работе?
</p>
<p class="lead">
    Есть отличная новость! Здесь ты получишь помощь в выполнении любых заданий. Публикуешь вопрос и в течение часа получаешь развернутую консультацию от экспертов.
</p>
<p class="lead">@Html.ActionLink("Подробнее", "About")</p>