<div class="row">
    <div class="col-md-4">
        <div class="alert alert-danger">
            <h2><span class="glyphicon glyphicon-time"></span> Быстро</h2>
            <p>Ваша задача пойдет в работу сразу же после публикации. Не сомневайтесь!</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-success">
            <h2><span class="glyphicon glyphicon-thumbs-up"></span> Качественно</h2>
            <p>Исполнитель заинтересован выполнить работу качественно, так как оплата по результату.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-info">
            <h2><span class="glyphicon glyphicon-usd"></span> Недорого</h2>
            <p>При публикации задачи Вы сами решаете - сколько готовы заплатить за нее.</p>
        </div>
    </div>
</div>