<h1>Больше свободного времени на поистине важные дела!</h1>
<p class="lead">
    Мы предлагаем отличную возможность освободиться от рутинной учебной работы.
    Мы предлагаем отличную возможность освободиться от рутинной учебной работы.
</p>
<p>@Html.ActionLink("Подробнее", "About")</p>