@model TeachMe.Areas.Student.Models.Home.ContactViewModel
@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<p>По любым вопросам пишите нам на электронную почту.</p>

<p>Служба технической поддержки ответит на Ваши вопросы в кратчайшие сроки.</p>

<address>
    <strong>Email:</strong> <a href="mailto:@(Model.Email)">@Model.Email</a><br />
    <strong>Телефон:</strong> @Model.Phone<br />
    <strong>Адрес:</strong> г. Екатеринбург, ул. Радищева, д. 28<br />
</address>

<h2>Схема проезда</h2>
<img src="~/Content/Images/contacts.jpg" style="max-width: 100%" />